#title-head{
    background-color: rgb(223, 223, 223);
    padding: 50px;
    text-align: center;
    background-image: url('header-photo.jpg');
    background-blend-mode: multiply;
    background-size: cover;
    border-radius: 30px;
    position: sticky;
}

#profile-photo{
    float: right;
    margin: 30px;

}
#sub-heading{
    background-color: rgb(230, 230, 230);
    padding: 50px;
    border-radius: 30px;
    margin: 18px 0px 10px 5px;

}